extends layout

block content
  h1= title
  -
    const park = [
      {
      'Name': "Dallas park",
      'EntryFee': "50",
      'City':"Dallas"
      },
       {
      'Name': "Maryville park",
      'EntryFee': "60",
      'City':"Maryville"
      },
      {
      'Name': "Kansas Park",
      'EntryFee': "70",
      'City':"Kansas"
      },
      ]
  div(class="container-fluid mt-3")
  div(class="row")
    each par,index in park
      div(class="col-sm-2 "  onclick=`buy(${index})`) #{par.Name} - #{par.EntryFee} - #{par.City} 
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
  